[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.0"
djangorestframework = "==3.12.4"
django-filter = "==2.4.0"
django-rest-swagger = "==2.2.0"
django-crispy-forms = "==1.11.2"
django-configurations = "==2.2"
"django-gravatar2" = "==1.4.4"
django-registration = "==3.1.2"
djangorestframework-filters = "==1.0.0.dev2"
django-oauth-toolkit = "==1.5.0"
django-rest-assured = "==0.2.3"
django-polymorphic = "==3.0.0"
django-cors-headers = "==3.7.0"
mysqlclient = "==2.0.3"
factory-boy = "==3.2.0"
faker = "==8.1.2"
humanize = "==3.5.0"
coreapi = "==2.3.3"
pypugjs = "*"
django-settings-export = "*"
django-auth-ldap = "==2.4.0"
pyyaml = "==5.4.1"
django-countries = "==7.1.0"
django-model-utils = "==4.1.1"
django-admin-rangefilter = "==0.8.1"
django-admin-list-filter-dropdown = "==1.0.3"
django-downloadview = "==2.1.1"
coreschema = "==0.0.4"
python-redmine = "==2.3.0"
django-rest-framework = "*"
django-silk = ">=4.1.1a1"
django-wkhtmltopdf = "*"
django-dirtyfields = "*"
pytz = "==2021.1"
django-ical = "*"
"django-tables2" = "*"
phonenumberslite = "*"
django-phonenumber-field = "*"
"markdown2" = "*"
tablib = "*"
django-import-export = "*"
django-admin-sortable = "*"
django-logentry-admin = "*"
"django-admin-select2" = "*"
django-sql-explorer = "*"
#django-app-namespace-template-loader = "*"
django-apptemplates = "*"
gunicorn = "*"
whitenoise = "*"
django-debug-toolbar = "*"
typing-extensions = "*"
django-select2 = "*"

[dev-packages]
tox = "*"
pudb = "*"
pylint = "*"

[pipenv]
allow_prereleases = true
