[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "3.2.14"
django-rest-swagger = "*"
django-crispy-forms = "*"
django-configurations = "*"
"django-gravatar2" = "*"
django-registration = "*"
djangorestframework-filters = "1.0.0.dev2"
django-oauth-toolkit = "*"
django-rest-assured = "*"
django-polymorphic = "*"
django-cors-headers = "*"
mysqlclient = "2.1.1"
factory-boy = "*"
faker = "*"
humanize = "*"
coreapi = "*"
pypugjs = "*"
django-settings-export = "*"
django-auth-ldap = "*"
pyyaml = "*"
django-countries = "*"
django-model-utils = "*"
django-admin-rangefilter = "*"
django-admin-list-filter-dropdown = "*"
django-downloadview = "*"
coreschema = "*"
python-redmine = "*"
django-rest-framework = "*"
django-silk = "*"
django-wkhtmltopdf = "*"
django-dirtyfields = "*"
pytz = "*"
django-ical = "*"
"django-tables2" = "*"
phonenumberslite = "*"
django-phonenumber-field = "*"
"markdown2" = "*"
tablib = "*"
django-import-export = "*"
django-admin-sortable = "*"
django-logentry-admin = "*"
django-sql-explorer = "*"
django-apptemplates = "*"
gunicorn = "*"
whitenoise = "*"
django-debug-toolbar = "*"
typing-extensions = "*"
django-select2 = "*"
django-autocomplete-light = "*"
django-admin-autocomplete-filter = "*"

[dev-packages]
tox = "*"
pudb = "*"
pylint = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
