table(style="
    border-collapse: collapse;
")
    thead
        tr
            th(style="
                color: #666;
                background: #f6f6f6;
                text-transform: uppercase;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                padding: 5px 10px;
                text-align: left;
            ") Colleague
            th(style="
                color: #666;
                background: #f6f6f6;
                text-transform: uppercase;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                padding: 5px 10px;
                text-align: left;
            ") Birth date   

    tbody
        for user in users_born_this_month
            tr(style="
                background: {% cycle '#ffffff' '#f9f9f9' %};
            ")
                td(style="
                    border-bottom: 1px solid #eee;
                    padding: 8px;
                    vertical-align: top;
                ") {{ user.last_name }} {{ user.first_name }} ({{ user.username }})
                td(style="
                    border-bottom: 1px solid #eee;
                    padding: 8px;
                    vertical-align: top;
                ") {{ user.userinfo.birth_date }}
