extends ninetofiver/emails/mail_generic.pug

block content
    p Dear {{ user }},
    p There {{ leave_count|pluralize:"is,are" }} {{ leave_count }} pending leave awaiting your approval.
    
    p
        a(href='{{ settings.BASE_URL }}/admin/ninetofiver/leave/?status__exact=pending&company={{ company_id }}' style="
            background: #79aec8;
            border-radius: 4px;
            color: #fff;
            padding: 4px 5px;
            text-decoration: none;
        ") View all
        
    - var show_leave_approval_actions = True
    include ninetofiver/emails/partials/leaves_horizontal.pug