{% extends "../base.html" %} {% load static %} {% block content %}
<form action="" method="post">
  {% csrf_token %}
  <input type="hidden" name="action" value="contract_bulk_change" />
  <input type="hidden" name="do_action" value="yes" />

  <div>
    {{ form }}
    <input type="submit" class="default" style="float: none" value="Change" />
  </div>

  <h2>Change contract in:</h2>

  <ul>
    {% for object in objects %}
    <li>
      <h3>{{ object.description | markdown }}</h3> 
        ID {{ object.id }} - {{ object }} - <i>{{ object.timesheet }}</i> - {{ object.contract }}
      <br />
      {% if object.timesheet.status == 'closed' %}
      <strong> ! Warning - performance's timesheet is closed </strong>
      {% endif %}
      <input type="hidden" name="_selected_action" value="{{ object.pk }}" />
    </li>
    {% endfor %}
  </ul>
</form>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
{% endblock %}
